$black: #000000;
$iron: #d0d2d7;
$concrete: #f3f3f3;

$loader_border: $concrete;
$loader_border-top: $iron;

$pagination-item_border: $black;
$pagination-item--active_background: $iron;

$serach_border: $black;

$rep-item_border: $black;
